DISCORD_TOKEN="EXAMPLE"
GAMES="separated;games"
DATABASE_HOST="localhost"
DATABASE="database_name"
DATABASE_USERNAME="user"
DATABASE_PASSWORD="a_super_safe_password"
JDOODLE_CLIENTID="clientid"
JDOODLE_CLIENTSECRET="clientsecret"
SENTRY_DSN="https://x@sentry.io/x"
STARBOARD_CHANNEL_ID=21637621987